body{
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    font-family: Roboto, sans-serif;
}
.header{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-bottom: 16px;
}
.logoheader{
    background-color: #283241;
    display: flex;
    margin: 0px;
    justify-content: space-evenly;
    padding: 16px;
}
.logo{
    color: #F9FAF8;
    font-weight: 700;
    padding: 0px;
    margin: 0px;
}
a{
    color: #e5e7eb9d;
    padding: 0px 8px;
    margin: 0px;
}
.hcontainer{
    display: flex;
    justify-content: space-evenly;
    padding: 16px;
}
.infoheader{
    color: #F9FAF8;
    font-weight: 750;
    flex-wrap: wrap;
    font-size: 32px;
    width: 300px;
}
.lorem{
    color: #e5e7eb9d;
    font-size: 18px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
    min-width: 0;
}
.signupb{
    color: #F9FAF8;
    background-color: rgb(79, 79, 214);
    padding: 4px 32px 4px 32px;
    border: none;
    border-radius: 8px;
}
.image{
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 64px 128px 64px 128px;
    min-width: 0px;
}
.images{
    display: flex;
    justify-content: center;
    padding: 0px 16px 0px 16px;
}
.imagesinfo{
    color: #1F2937;
    font-weight: 700;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.border{
    width: 100px;
    height: 100px;
    border-style: groove;
    border-radius: 8px;
    border-color: blue;
    margin-bottom: 8px;
}
.quote{
    display: flex;
    background-color: #E5E7EB;
    align-items: end;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
}
.aquote{
    color: #3a4657;
    font-size: 32px;
    font-style: italic;
    display: flex;
    width: 700px;
    flex-wrap: wrap;
    margin-left: 64px;
}
.author{
    color: #1F2937;
    font-weight: 700;
    width: 700px;
    font-size: 36px;
    display: flex;
    justify-content: end;
}
.scontainer{
    display: flex;
    flex-grow: 2;
    padding: 32px;
    justify-content: center;
}
.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    padding: 16px 64px 16px 64px;
    gap: 64px;
}
.htext{
    color: #F9FAF8;
    font-weight: 700;
    font-size: 24px;
}
.itext{
    color:#e5e7eb9d;
    font-size: 18px;
}
.sbutton{
    color: #F9FAF8;
    background-color: #3882F6;
    border: 1px;
    padding: 4px 16px 4px 16px;
    border-radius: 4px;
    border-style: solid;
    border-color: white;
}
.copyright{
    padding: 16px;
    color: #e5e7eb9d;
    background-color: #283241;
    display: flex;
    justify-content: center;
    align-items: center;
}